<div class="col-md-offset-2 mb-4 edit-profile-wrapper">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="profile-form-wrap">
        <%= form_with scope: resource, as: resource_name, url: registration_path(resource_name), local: true, method: :patch do |f| %>
          <!-- ユーザーアイコン -->
          <div class="form-group">
            <%= f.label :profile_photo, "プロフィール画像" %><br>
            <div class="flex">
              <!-- 変更前画像 -->
              <%= image_tag avatar_url(@user).to_s, class: "edit-profile-icon" %>
              <a class="mr-topbot-auto right-arrow-img"></a>
              <!-- 選択中画像プレビュー -->
              <% if @user.profile_photo? %>
                <%= image_tag @user.profile_photo.url, id: :img_prev, class: "mr-left10 edit-profile-icon-preview" %>
              <% else %>
                <%= image_tag "/default-cyan-icon.png", id: :img_prev, class: "mr-left10 edit-profile-icon-preview" %>
              <% end %>
              <!-- 画像選択ボタン -->
              <%= f.label :profile_photo, "画像を選択", for: :input_file, class: "ff-btn" %>
              <%= f.file_field :profile_photo, id: :input_file, class: "mr-left15 ff-form" %>
              <!-- 選択画像ファイル名 -->
              <p for="input-file" id="icon-name" class="icon-name-area"></p>
              <!-- 選択画像削除ボタン -->
              <a for="icon-name" id="preview-delete" class="preview-delete-btn"></a>
            </div>
          </div>
          <!-- ユーザーネーム -->
          <div class="form-group">
            <%= f.label :username, "ユーザーネーム" %>
            <%= f.text_field :username, autofocus: true, class: "form-control" %>
          </div>
          <!-- 名前 -->
          <div class="form-group">
            <%= f.label :name, "名前" %>
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
          <!-- ウェブサイト -->
          <div class="form-group">
            <%= f.label :website, "ウェブサイト" %>
            <%= f.text_field :website, autofocus: true, class: "form-control" %>
          </div>
          <!-- 自己紹介 -->
          <div class="form-group">
            <div class="flex">
              <%= f.label :introduction, "自己紹介" %>
              <div class="small form-text mr-left15">
                ※ 最大160文字まで
              </div>
            </div>
            <%= f.text_area :introduction, autofocus: true, class: "form-control" %>
          </div>
          <!-- メールアドレス -->
          <div class="form-group">
            <div class="flex">
              <%= f.label :email, "メールアドレス" %>
              <div class="small form-text mr-left15">
                ※ 他のユーザーには見えません
              </div>
            </div>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <!-- 電話番号 -->
          <div class="form-group">
            <div class="flex">
              <%= f.label :phone_number, "電話番号" %>
              <div class="small form-text mr-left15">
                ※ 他のユーザーには見えません
              </div>
            </div>
            <%= f.telephone_field :phone_number, autofocus: true, class: "form-control", placeholder: "08012345678" %>
          </div>
          <!-- 性別 -->
          <div class="form-group">
            <div class="flex">
              <%= f.label :性別 %>
              <div class="small form-text mr-left15">
                ※ 他のユーザーには見えません
              </div>
            </div>
            <%= f.label :男 %>
            <%= f.radio_button :sex, :man, autofocus: true, checked: true %>
            <%= f.label :女 %>
            <%= f.radio_button :sex, :woman, autofocus: true %>
          </div>
          <!-- 更新 -->
          <%= f.submit "変更する", class: "btn btn-primary" %>
        <% end %>
      </div>
      <br />
      <p>パスワード変更は <%= link_to "こちら", edit_account_password_path(current_user) %></p>
      <p>退会する場合は <a class="text-right" href="<%= confirm_unsubscribe_path(@user) %>">こちら</a></p>
    </div>
  </div>
</div>
