<div id="favorite-<%= post.id %>">
  <% if !Favorite.exists?(user: current_user, post_id: post.id) %>
    <%= link_to post_favorites_path(post), method: :post, remote: true, class: "favorited hide-text" do  %>
      <i class="far fa-thumbs-up"><span>お気に入りに登録</span></i>
      <%= post.favorites.length %>
    <% end %>
  <% else %>
    <%= link_to post_favorites_path(post), method: :delete, remote: true, class: "favorite hide-text" do  %>
      <i class="far fa-thumbs-up"><span>お気に入りに登録</span></i>
      <%= post.favorites.length %>
    <% end %>
  <% end %>
</div>
