<% follower_user.each do | follower_user | %>
  <div class="profile-wrap">
    <div class="row">
      <!-- プロフィールアイコン画像 -->
      <div class="col-md-4 text-center">
        <%= link_to image_tag(avatar_url(follower_user), class: "round-img"), user_path(follower_user) %>
      </div>
      <!-- プロフィール情報 -->
      <div class="col-md-8">
        <div class="row">
          <div class="profile-info">
            <ul class="profile-username">
              <li>
                <a href="<%= user_path(follower_user) %>"
                   class="username f-black"><%= follower_user.username %></a>
              </li>
              <li>
                <a>投稿<span class="f-bold"><%= follower_user.posts.count %></span>件</a>
                <a><%= render 'users/following_list_count', user: user %></a>
              </li>
              <li class="fullname"><%= follower_user.name %></li>
              <li>
                <a class="f-black introduction-text"><%= simple_format(follower_user.introduction) %></a>
              </li>
              <li>
                <% if follower_user.website.present? %>
                  <a href="<%= follower_user.website %>" target="_blank" class="website-icon"></a>
                  <a href="<%= follower_user.website %>" target="_blank" class="f-black website-address">
                    <%= follower_user.website %>
                  </a>
                <% end %>
              </li>
            </ul>
            <!-- フォローボタン -->
            <div class="profile-follow-btn">
              <a class="follow-btn"><%= render 'users/follow_form' %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>
