<% following_users.each do | following_user | %>
  <div class="profile-wrap">
    <div class="row">
      <!-- プロフィールアイコン画像 -->
      <div class="col-md-4 text-center">
        <%= link_to image_tag(avatar_url(following_user), class: "round-img"), user_path(following_user) %>
      </div>
      <!-- プロフィール情報 -->
      <div class="col-md-8">
        <div class="row">
          <div class="wd100 jus-spbw profile-info">
            <ul class="profile-username">
              <li>
                <a href="<%= user_path(following_user) %>"
                   class="username f-black"><%= following_user.username %></a>
              </li>
              <li class="fullname"><%= following_user.name %></li>
              <li>
                <a class="f-black introduction-text"><%= simple_format(following_user.introduction) %></a>
              </li>
            </ul>
            <!-- フォローボタン -->
            <div class="mr-right30 profile-follow-btn">
              <a class="follow-btn"><%= render 'users/follow_form', user: following_user %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
<% end %>
