<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "", root_path, class: "navbar__brand navbar__mainLogo" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- 検索フォーム -->
    <%= render 'users/search_form' %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-md-auto align-items-center">
        <!-- ホーム -->
        <li>
          <%= link_to "", root_path, class: "nav-link commonNavIcon home-icon" %>
        </li>
        <!-- 投稿 -->
        <li>
          <%= link_to "", new_post_path, class: "nav-link commonNavIcon photo-icon" %>
        </li>
        <!-- 通知 -->
        <li>
          <%= link_to(notifications_path) do %>
            <% if unchecked_notifications.any? %>
              <%= link_to "", notifications_path, class: "nav-link commonNavIcon notification-icon" %>
              <span class="notification-circle"></span>
            <% else %>
              <%= link_to "", notifications_path, class: "nav-link commonNavIcon notification-icon" %>
            <% end %>
          <% end %>
        </li>
        <!-- プロフィール -->
        <li>
          <%=link_to user_path(current_user) do %>
            <%= image_tag avatar_url(current_user).to_s, data: {"turbolinks" => false}, class: "nav-link commonNavIcon profile-icon" %>
          <% end %>
        </li>
        <!-- ログアウト -->
        <li>
          <% if user_signed_in? %>
            <%= link_to "", destroy_user_session_path, class: "nav-link commonNavIcon logout-icon", method: :delete %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
