<div class="flex flex-column align-items-center mt-3">
  <div class="col-xl-7 col-lg-8 col-md-10 col-sm-11 post-card">
    <div class="card">
      <p class="card-header f-bold">投稿する</p>
      <div class="card-body">
        <%= form_with model: @post, local: true, class: "upload-images p-0 border-0" do |f| %>
          <div class="flex">
            <!-- 投稿画像選択ボタン -->
            <div class="mb-3">
              <%= f.fields_for :photos do |i| %>
                <%= i.label :image, "画像を選択", for: :input_file, class: "ff-btn" %>
                <%= i.file_field :image, id: :input_file, class: "mr-left15 ff-form", autofocus: true %>
              <% end %>
              <p class="small form-text">※ jpeg png 形式のみ投稿できます</p>
            </div>
            <!-- 投稿画像ファイル名 -->
            <p for="input-file" id="photo-name" class="photo-name-area"></p>
            <!-- 投稿画像プレビュー削除 -->
            <a for="photo-name" id="preview-delete" class="preview-delete-btn"></a>
          </div>
          <!-- 選択画像プレビュー -->
          <div class="flex">
            <div class="image-preview-box">
              <div class="image-preview-frame">
                <% if @post.photos.present? %>
                  <a class="upload-image-preview"><%= image_tag "/upload-image-none-icon.png", id: :photo_prev %></a>
                <% else %>
                  <a class="upload-image-preview"><%= image_tag @post.photos.url, id: :photo_prev %></a>
                <% end %>
              </div>
            </div>
          </div>
          <!-- 投稿コメント -->
          <div class="form-group">
            <%= f.label :caption, "投稿コメント" %>
            <%= f.text_area :caption, class: "form-control", placeholder: "コメントを書く" %>
          </div>
          <!-- ハッシュタグ -->
          <div class="form-group">
            <%= f.label :hashword, "ハッシュタグ" %>
            <%= f.text_area :hashword, class: "form-control", placeholder: "「#」を先頭につけてください 例）#ジャケット" %>
          </div>
          <%= f.submit "投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
